/**
 * Component: Teaser
 * Displays image and Link to sub-pages on homepage
 */

.teaser {
	// Default styling

	max-width: 200px;

	// Media Queries
}

.teaser-image {
	width: 50%;
}

@media screen and (max-width: 30em) {
	.teaser-image {
		max-width: 100%;
	}
}

